*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paper{
    padding:20px;
    height:62vh;
    width:450px;
    margin:"20px auto";
}
.close{
    display: flex;
    justify-content: flex-end;
}

.container a{
    text-decoration: none;
}
#g-login{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#g-login{
    background: #fff;
    border-radius: 3px;
    border: 3px solid #DDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 11px 10px;
    margin: 24px 0 16px;
}
#g-login:hover{
    border-color: lightblue;
}
.g-img{
    padding-top: .3rem;
}
.g-content{
    font-size: 1.3rem;
    font-weight: 400;
    color: blue;
}
.seprate{
    text-align: center;
}
.text{
    color: #484848;
    padding: 0 0 3px 0;
    background: #fff;
    font-family: Inter,sans-serif;
    font-weight: 500;
}
.text p{
    width: 40px;
    margin: 0 auto!important;
    position: relative;
    z-index: 10;
    background: #fff;
    color: #8A8A8A;
    font-size: 12px;
}
.border{
    position: relative;
    margin-top: -13px;
    margin-bottom: 20px;
    border: none!important;
    border-top: 1px solid #DDD!important;
}
